{% extends "layout.html" %}
{% block title %} Python Flask Model Inference Example {% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block styles %}
{{super()}}
<style>

	#upload {
		opacity: 0;
	}
	
	#upload-label {
		position: absolute;
		top: 50%;
		left: 1rem;
		transform: translateY(-50%);
	}
	
.image-area {
	border: 2px dashed #5d5d5d;
    padding: 1rem;
    position: relative;
	min-height: 20vh;
	border-color: #22676f;
}

.image-area::before {
	content: 'Upload Image';
    color: #22676f;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
	z-index: 2;
    position: relative;
}

.image-wrapper:focus {
	outline:none !important; 
	box-shadow: none;
}

#text-placeholder:disabled{
	background-color:#f7f7f7
}
</style>

{% endblock %}
{% block content %}
<div class="text-center container-fluid my-auto py-3">
	<h1 class="font-weight-bold align-middle" style="color: #3ac4b4;">Automatic Identification of Plant-Parasitic Nematode</h1>
	<p class="text-muted"> Nematode Classification using deep learning to identify and classify Nematodes commonly found in Indonesian soil  </p>
	<div class="row py-4">
		<div class="col-md-6 mx-auto border border-secondary">
			<form method="post" action="/inference" enctype="multipart/form-data">
				<div class="input-group px-2 pt-4 py-2">
					<input id="upload" name="file" type="file" onchange="readURL(this);" class=" border-0" hidden>
					<input id="text-placeholder" type="text" disabled class="form-control border-0" title="" class="bg-primary">
					<label id="upload-label" class="font-weight-light text-muted">Upload sample file</label>
					<div class="input-group-append">
						<label for="upload" class="btn btn-secondary m-0 px-4"> 
							<small class="text-uppercase font-weight-bold ">Choose file</small>
						</label>
					</div>
				</div>
				
				<!-- Uploaded image area-->
				<div class="col-lg-7 mx-auto">
					<button type="button" id="imageWrapper" class="container-fluid btn bg-transparent image-wrapper" >
						<div class="image-area mt-4">
							<img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
						</div>
					</button>
				</div>

				<button class="btn btn-info my-3" style="background-color:#3ab6c4">
					<p class="text-white m-0 p-0">Inference</p>
				</button>
			</form>
		</div>
	</div>	
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
	/*  ==========================================
		SHOW UPLOADED IMAGE
	* ========================================== */
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#imageResult')
					.attr('src', e.target.result);
			};
			reader.readAsDataURL(input.files[0]);
		}
	}

	$(function () {
		$('#upload').on('change', function () {
			readURL(input);
		});
	});

	/*  ==========================================
		SHOW UPLOADED IMAGE NAME
	* ========================================== */
	var input = document.getElementById( 'upload' );
	var infoArea = document.getElementById( 'upload-label' );

	input.addEventListener( 'change', showFileName );
	function showFileName( event ) {
	var input = event.srcElement;
	var fileName = input.files[0].name;
	infoArea.textContent = 'File name: ' + fileName;
	}

	$('#imageWrapper').click(function(){ $('#upload').trigger('click'); });

</script>
{{super()}}
{% endblock %}

