<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100" style="background-color: #f7f7f7;">
        <div id="header">
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-2 border-bottom px-5"> -->
            <nav class="navbar navbar-expand-lg navbar-dark px-5" style="background-color: #3ac4b4;">
                <div class="container-fluid">
                    <a class="navbar-brand px-2" href="/" style="font-weight: bold;">Nematode WebApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="content" class="container-fluid my-auto p-0" >
            <!-- Your page content -->
            {% block content %}{% endblock %}
        </div>

        <div id="footer" class="text-muted">
            <section class="">
                <div class="container text-md-start mx-0 px-5">
                    <div class="row mt-3">
                        <h6 class="text-uppercase fw-bold mb-1" style="font-size: 0.9rem;">Current model: EfficientNetV2B0</h6>
                        <p style="font-size:0.7rem;">
                            Model last updated at: July 20, 2022
                        </p>
                    </div>
                </div> 
            </section>
        </div>
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
